.random-planet {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 3rem;
}

.random-planet .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.random-planet .list-group-item {
    padding: .25rem;
}

.random-planet .term {
    margin-right: .5rem;
}